<footer class="footer">
  <div class="footer-container container">

    <!-- LEFT -->
    <div class="footer-brand">
      <h4>Educational Tourism</h4>
      <p>Connecting students with real-world learning experiences through tours.</p>
    </div>

    <!-- CENTER -->
    <div class="footer-links">
      <h5>Quick Links</h5>
      <a href="/listings">Tours</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
      <a href="/privacy">Privacy Policy</a>
<a href="/terms">Terms & Conditions</a>
    </div>

    <!-- RIGHT -->
    <div class="footer-contact">
      <h5>Contact</h5>
<div class="contact-item">
  <i class="fa-solid fa-envelope"></i>
  <a href="mailto:rk8313681@gmail.com">rk8313681@gmail.com</a>
</div>

<div class="contact-item">
  <i class="fa-solid fa-phone"></i>
  <a href="tel:+919695959664">+91 9695959664</a>
</div>

      <div class="footer-socials">
<a href="https://www.facebook.com/share/g/1ShK6KqmpR/" target="_blank">
  <i class="fa-brands fa-facebook"></i>
</a>

<a href="https://www.instagram.com/ravi_kumar28082003?igsh=MW96MmRhMmxzZnpjcw==">
  <i class="fa-brands fa-instagram"></i>
</a>

<a href="https://www.linkedin.com/in/ravi-kumar-2b182332a?utm_source=share_via&utm_content=profile&utm_medium=member_android" target="_blank">
  <i class="fa-brands fa-linkedin"></i>
</a>
      </div>
    </div>

  </div>

  <div class="footer-bottom">
    © 2026 Educational Tourism
  </div>
</footer>